.projectCard {
  border-style: solid;
  border-width: 2px;
  margin: 1.7em;
  width: 80vh;
  border-radius: 0.8rem;
  padding: 1em;
  font-size: 1em;
}

.projectCard h2 {
  font-size: 1.2em;
  color: rgb(218, 63, 36);
}

.projectCard h2 i {
  color: rgb(0, 0, 0);
}

.projectCard #projectLink {
  color: rgb(10, 148, 22);
}

.projectCard h2 i:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  transform: scale(1.1);
}

.projectCard:hover {
  background-color: rgb(252, 231, 164);
}

.projectCard h4 {
  margin-bottom: -0.7em;
}

.projectCard p {
  font-family: "Courier New", Courier, monospace;
}
#cardTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5em;
}

#cardTags p {
  background-color: rgb(255, 224, 124);
  font-size: 0.8em;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 0.01em;
  font-weight: 500;
  font-family: "Special Elite", cursive;
}

body {
  font-family: "Special Elite", cursive;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* position: fixed; */
  top: 0.3em;
  left: 30vw;
}

#navbarHeading {
  margin-left: -1em;
}

#navbar a {
  padding: 0.2em;
  text-decoration: none;
  color: black;
}

#navbar a:hover {
  color: rgb(248, 194, 18);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* // */
.tooltipCard {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltipCard .tooltipCardtext {
  font-size: 0.8em;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

#cok .tooltipCard .tooltipCardtext {
  font-size: 1em;
}

.tooltipCard .tooltipCardtext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipCard:hover .tooltipCardtext {
  visibility: visible;
}

/* #navbar .focusmate{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(16, 16, 17);
font-weight: 900;
font-size: 1.4em;
padding:0em;
margin-top: 2em;
} */

#homeContent {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homeImage {
  background-color: brown;
  transform: scale(0.4);
  margin-top: -14em;
  margin-right: -8em;
  margin-left: -9em;
  border-radius: 40%;
  /* border-style: solid;
  border-color: rgb(253, 218, 16); */
  margin-bottom: -14em;
  animation: imageAnimation;
  animation-duration: 2s;
}

/* @keyframes imageAnimation{
  50%{
    transform:translateY(0.1em)
  }
  100%{
    transform:translateY(0.1em)
  }
}
 */

.aboutMe {
  width: 30vw;
  font-weight: 500;
  font-style: bold;
  border: solid;
  padding: 1.5em;
  padding-bottom: 0.8em;
  border-radius: 0.6em;
  border-width: 0.1em;
  margin-top: 1.1em;
}

.aboutMe h2 {
  color: rgb(235, 84, 73);
}
.aboutMe h2 span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  color: rgb(63, 63, 63);
}

#aboutPara {
  font-family: "Courier Prime", Courier, monospace;
  color: rgb(161, 118, 0);
  font-size: 1em;
}

#aboutPara strong {
  color: rgb(77, 77, 77);
  font-weight: 600;
}

#aboutPara #mct {
  font-size: 1.3em;
}

#aboutPara #cok {
  font-size: 1em;
  text-decoration: none;
  color: rgb(77, 77, 77);
}

#aboutPara a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}

#aboutPara p {
  margin-top: 0em;
  margin-bottom: 0.7em;
}

#homeEnd {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#homeEnd p {
  color: green;
  font-weight: 500;
  font-size: 1.1em;
}
#buttonProject {
  margin-top: 1em;
  background-color: white;
  font-family: "Special Elite", cursive;
  font-size: 1em;
  padding: 0.3em;
  border-radius: 0.3em;
  border: solid;
  border-color: rgb(231, 183, 24);
  cursor: pointer;
}

#buttonProject:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(231, 183, 24);
  border-color: black;
  /* transform: translateY(-0.2em); */
}

#mainProjectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectsGrid {
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width: 1060px) {
  #projectsGrid {
    grid-template-columns: auto;
  }
}
/* @media (max-width:700px) {
  
#projectsGrid{
grid-template-columns: auto;
  }
} */
#projectsGridParent {
  display: flex;
  justify-content: center;
}

#projectSInput {
  background-color: rgb(255, 230, 117);
  width: 20vw;
}
