
.projectCard{
  
  border-style: solid;
  border-width: 2px;
  margin: 2em;
  width: 50vh;
  border-radius: 0.8rem;
  padding: 1em;

}

.projectCard h2{
  color: rgb(218, 63, 36);
}

.projectCard h4{
  margin-bottom: -0.7em;
}

.projectCard p{
  font-family:'Courier New', Courier, monospace;
}
#cardTags{
  display: flex;
  margin-top: -0.5em;
}

#cardTags p {
  background-color: rgb(255, 224, 124);
  font-size: 0.8em;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 0.3em;
  border-style: solid;
  border-width: 0.01em;
  font-weight: 500;
  font-family: 'Special Elite', cursive;
}

body{
  font-family: 'Special Elite', cursive;
}

#navbar{
display:flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
/* position: fixed; */
top:0.3em;
left: 30vw;
}
 
#navbarHeading{
  margin-left: -1em;  
}


#navbar a{
padding: 0.2em;
text-decoration: none;
color: black;
}

#navbar a:hover{
 
  color: rgb(248, 194, 18);
  }



#navParent{
  
}

#homeContent{
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.homeImage{
  background-color: brown;
  transform: scale(0.4);
  margin-top: -14em;
  margin-right: -8em;
  margin-left: -9em;
  border-radius: 40%;
  /* border-style: solid;
  border-color: rgb(253, 218, 16); */
  margin-bottom: -14em;
  animation: imageAnimation;
  animation-duration: 2s;
  
}

/* @keyframes imageAnimation{
  50%{
    transform:translateY(0.1em)
  }
  100%{
    transform:translateY(0.1em)
  }
}
 */

.aboutMe{
 width: 30vw;
 font-weight: 500;
 font-style: bold;
 border: solid;
 padding: 1.5em;
 border-radius: 0.6em;
 border-width: 0.1em;
}

.aboutMe h2{
  color: rgb(235, 84, 73);
}

#aboutPara{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(168, 124, 3);
}

#homeEnd{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#homeEnd p {
  color: green;
  font-weight: 500;
  font-size: 1.1em;
}
#homeEnd button{
  background-color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1em;
  padding:0.3em;
  border-radius: 0.3em;
  border: solid;
  border-color: rgb(231, 183, 24);
  cursor: pointer;
}

#homeEnd button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(231, 183, 24);
  border-color: black;
  /* transform: translateY(-0.2em); */
}

#mainProjectContent{

  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#projectsGrid{
  display: grid;
  grid-template-columns: auto auto auto;
}

@media (max-width:1060px) {
  
  #projectsGrid{
grid-template-columns: auto auto;
  }
}
@media (max-width:700px) {
  
  #projectsGrid{
grid-template-columns: auto;
  }
}
#projectsGridParent{
  display: flex;
  justify-content: center;
  
}


#projectSInput{
  background-color: rgb(255, 230, 117);
  width: 20vw;
  
}