.projectCard{
  background-color: lightgoldenrodyellow;
  border-style: solid;
  border-width: 2px;
  margin: 2rem;
  width: 50vh;
  border-radius: 0.8rem;

}

body{
  font-family: 'Special Elite', cursive;
}

#navbar{
display:flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
/* position: fixed; */
top:0.3em;
left: 30vw;
}



#navbar a{
padding: 0.2em;
text-decoration: none;
color: black;
}

#navbar a:hover{
 
  color: rgb(248, 194, 18);
  }



#navParent{
  
}

#homeContent{
  display: flex;
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.homeImage{
  background-color: brown;
  transform: scale(0.4);
  margin-top: -14em;
  margin-right: -8em;
  margin-left: -9em;
  border-radius: 40%;
  /* border-style: solid;
  border-color: rgb(253, 218, 16); */
  margin-bottom: -14em;
  animation: imageAnimation;
  animation-duration: 2s;
  
}

/* @keyframes imageAnimation{
  50%{
    transform:translateY(0.1em)
  }
  100%{
    transform:translateY(0.1em)
  }
}
 */

.aboutMe{
 width: 30vw;
 font-weight: 500;
 font-style: bold;
 border: solid;
 padding: 1.5em;
 border-radius: 0.6em;
}

#homeEnd{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

#homeEnd button{
  background-color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1em;
  padding:0.3em;
  border-radius: 0.3em;
  border: solid;
  border-color: rgb(231, 183, 24);
  cursor: pointer;
}

#homeEnd button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(231, 183, 24);
  border-color: black;
  /* transform: translateY(-0.2em); */
}